body {
	margin:0;
}

#main {
	position:relative;
}

/*Основной фоновый рисунок*/
#full_bg {
	position: fixed; 
  	top: 0; 
  	z-index: -1;
	left: 0;	
  	min-width: 100%;
}

/*Главный логотип*/
.top_logo {
  	background-image: url(images/top/top_logo.png);
  	width: 378px;
  	height: 379px;
	margin-left: auto;
	margin-right: auto;
}

/*Надпись - Создание и поддержка сайтов Дизайн*/
.top_rectangle { 
  	background-color: rgba(241, 90, 41, 0.651);
  	position:relative;
  	height: 165px;
}

.top_text { 
	margin:auto;
	width: 1023px;
	height: 165px;
  	display: table; 
  	vertical-align: middle;
}

.top_text p {
  	display: table-cell; 
  	vertical-align: middle; 
  	font-size: 54.28px;
  	font-family: "Century Gothic";
  	color: rgb( 255, 255, 255 );
  	text-align: center;
}
/*---------------------------------------------*/

/*Меню ----------------------------------------*/
.menu {
  	background-color: rgb( 65, 64, 66 );
  	box-shadow: 3.5px 6.062px 18px 0px rgb( 0, 0, 0 );
  	margin:0 auto 0 auto; /*54*/
  	width: 1024px;
  	height: 40px;
  	z-index:100;
  	position:absolute; 
	top:591px;
	left:0;
	right: 0;
	bottom:0;
}

.menu.landingFix {
	position:fixed;
	width: 1024px;
	top:0;
	left:0;
	right: 0;
	bottom:0;
}

.left_menu{
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none; 
}

.right_menu{
	float: right;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none; 
}

.menu ul li {
	float: left; 
}

.menu ul li a {
	font-size: 20px;
  	font-family: "Century Gothic";
  	color: rgb( 255, 255, 255 );
  	text-align: left;
  
	display: block;
	padding: 8px 10px;
	text-decoration: none;
}

.left_menu li {
	padding: 0px 5px;
}

.menu_logo {
  	background-image: url(images/menu/menu_logo.png);
  	float: left;
  	width: 62px;
  	height: 62px;
  	margin-top:-10px;
	margin-left: 10px;
	margin-right: auto;
}
/*----------------------------------------------*/

/*Общие характеристики всех главных фоновых блоков*/
#uslugi_bg, #portfolio_bg, #budget_bg ,#imige_bg, #contacts_bg, #bottom_bg {
	left: 0;	
  	min-width: 100%;
	position: relative;
}

/*-----------------Услуги-----------------------*/
#uslugi_bg {
	margin-top:87px;
  	background-color: rgb( 65, 64, 66 );
  	height: 994px;
}
/*----------------------------------------------*/


/*-----------------Портфолио--------------------*/
#portfolio_bg {
  	background-color: rgba( 241, 90, 41, 0.478);
  	height: 732px;
  	margin-top:65px;
}
/*---------------------------------------------*/


/*-----------------Бюджет----------------------*/
#budget_bg {
  	background-color: rgba( 230, 231, 232,0.702 );
  	height: 842px;
  	margin-top:65px;
}
/*---------------------------------------------*/


/*------------------Имидж----------------------*/
#imige_bg {
  	background-color: rgb( 241, 90, 41 );
  	height: 842px;
  	margin-top:85px;
}
/*---------------------------------------------*/


/*------------------Контакты-------------------*/
#contacts_bg {
  	background-color: rgb( 65, 64, 66 );
  	height: 589px;
  	margin-top:339px;
}
/*---------------------------------------------*/


#bottom_bg {
 	background-color: rgb( 213, 108, 74 );
  	height: 20px;
}




